@use './partials/layers';
@use './partials/reset';

:root {
  --font-family: 'Noto Sans JP', 'Hiragino Sans', 'メイリオ', sans-serif;
  --leading-trim: calc((1em - 1lh) / 2);
  --hover-duration: 0.25s;
  --hover-opacity: 0.75;

  @include breakpoint.cssvars;
  @include color.cssvars;
  @include easing.cssvars;
}

@layer base {
  :root {
    scroll-behavior: smooth;
    scroll-padding-top: 0;
    -webkit-tap-highlight-color: rgb(0 0 0 / 5%);
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-family: var(--font-family);
    color: var(--color-text);
  }

  a {
    color: var(--color-text-link);
  }

  button {
    padding: 0;
    border: 0;
  }

  svg {
    overflow: visible;
  }

  .visually-hidden,
  .visually-hidden-focusable:not(:focus, :focus-within) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    border: 0 !important;
    /* stylelint-disable-next-line property-no-deprecated */
    clip: rect(0, 0, 0, 0) !important;

    &:not(caption) {
      position: absolute !important;
    }

    * {
      overflow: hidden !important;
    }
  }
}
