@use './partials/layers';
@use './partials/reset';

:root {
  --font-family: 'Noto Sans JP', 'Hiragino Sans', 'メイリオ', sans-serif;
  --leading-trim: calc((1em - 1lh) / 2);
  --hover-duration: 0.25s;
  --hover-opacity: 0.75;

  @include breakpoint.cssvars;
  @include color.cssvars;
}

@layer base {
  :root {
    -webkit-tap-highlight-color: rgb(0 0 0 / 5%);
  }

  body {
    font-family: var(--font-family);
    color: var(--color-text);
  }

  a {
    color: var(--color-text-link);
  }

  button {
    padding: 0;
    border: 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
    clip: rect(0, 0, 0, 0);
  }
}
