// based on @acab/reset.css
// https://github.com/mayank99/reset.css/releases/tag/v0.11.0

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  [hidden]:not([hidden='until-found']) {
    display: none !important;
  }

  :root {
    scrollbar-gutter: stable;
    line-height: 1.5;
    tab-size: 2;
    color-scheme: dark light;
    text-size-adjust: none;
    interpolate-size: allow-keywords;
  }

  :root:has(:modal) {
    overflow: hidden;
  }

  @media (prefers-reduced-motion: no-preference) {
    :root:focus-within {
      scroll-behavior: smooth;
    }
  }

  body {
    font-family: system-ui, sans-serif;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
  }

  button {
    all: unset;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    font-variation-settings: inherit;
    font-feature-settings: inherit;
    color: inherit;
    word-spacing: inherit;
    letter-spacing: inherit;
  }

  textarea {
    resize: vertical;
    resize: block;
  }

  button,
  label,
  select,
  summary,
  [role='button'],
  [role='option'] {
    cursor: pointer;
  }

  :disabled,
  label:has(> :disabled, + :disabled) {
    cursor: not-allowed;
  }

  a {
    color: inherit;
    text-underline-offset: 0.2ex;
  }

  ul,
  ol {
    list-style: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }

  img,
  picture,
  svg,
  video {
    max-inline-size: 100%;
    block-size: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3 {
    line-height: calc(1em + 0.5rem);
    text-wrap: balance;
  }

  hr {
    block-size: 0;
    overflow: visible;
    color: inherit;
    border: none;
    border-block-start: 1px solid;
  }

  dialog,
  [popover] {
    inset: unset;
    max-width: unset;
    max-height: unset;
    overflow: unset;
    color: inherit;
    background: none;
    border: none;
  }

  dialog:not([open], [popover]),
  [popover]:not(:popover-open) {
    display: none !important;
  }

  :focus-visible {
    outline: 3px solid CanvasText;
    outline-offset: 1px;
    box-shadow: 0 0 0 5px Canvas;
  }

  :focus-visible,
  :target {
    scroll-margin-block: 8vh;
  }

  .visually-hidden:not(:focus-within, :active) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    user-select: none !important;
    border: 0 !important;
    clip-path: inset(50%) !important;
  }
}
