---
import '@/app/styles/global.scss';
import { SEO, type SEOProps } from 'astro-seo';

type Props = {
  isHome?: boolean;
  seo?: SEOProps;
};

const props = Astro.props;

const seo: SEOProps = {
  titleDefault: 'サイト名',
  titleTemplate: '%s | サイト名',
  ...props.seo,
};
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no, address=no" />

    <SEO {...seo} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet" />

    <script src="@/app/scripts/global.ts"></script>
  </head>

  <body>
    <slot />
  </body>
</html>
