---
import { Icon } from 'astro-icon/components';

import { I_TEST } from '@/assets/images';
import ExampleHomeComponent from '@/components/pages/home/ExampleHomeComponent/index.astro';
import Image from '@/components/parts/image/Image.astro';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---

<DefaultLayout>
  <h1>index.astro</h1>
  <!--
    画像をimportして使う場合（最適化される）は自動生成される`@/assets/images`を経由すると補完が効くので便利

    Astro v3.5現在では公式のImageコンポーネントはあまり使い勝手が良くないので暫定的に独自のImageコンポーネントを用意している
    src2xには2倍サイズの画像を指定する（srcsetには自動で1倍サイズの画像が追加される）
    SVGや等倍サイズの画像を使う場合はsrc2xの代わりにsrcを指定する
    アートディレクションに対応したPictureコンポーネントも同様（ブレークポイントmin-width: 767.98px以外を使う場合はコンポーネントの修正が必要）
  -->
  <div><Image src2x={I_TEST} alt="" /></div>

  <svg width="32" height="32" viewBox="0 0 32 32"
    ><path
      fill="currentColor"
      d="M16 4.688L3.781 16.905l1.438 1.407L16 7.53l10.781 10.782l1.438-1.407zm0 7L3.781 23.905l1.438 1.407L16 14.53l10.781 10.781l1.438-1.406z"
    ></path></svg
  >

  <Icon name="sample" />

  <ExampleHomeComponent />

  <style lang="scss">
    h1 {
      // 各sass-utilsは、`astro.config.ts`で@useしているので改めてする必要はない
      color: color.get('text');
    }
  </style>
</DefaultLayout>
