---
import '@/assets/styles/global.scss';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no, address=no" />

    <meta name="description" content="" />

    <meta property="og:site_name" content="OG_SITE_NAME" />
    <meta property="og:title" content="OG_TITLE" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="OG_DESCRIPTION" />
    <meta property="og:image" content="OG_IMAGE" />
    <meta property="og:url" content="OG_URL" />

    <meta name="twitter:card" content="summary_large_image" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <slot />
  </body>
</html>

<script>
  import isMobile from 'ismobilejs';
  import { debounce } from 'throttle-debounce';

  function setViewport() {
    const screenWidth = window.screen.width;
    let viewport = 'width=device-width';

    if (isMobile().phone) {
      if (screenWidth < 375) {
        viewport = 'width=375';
      } else {
        viewport = 'width=device-width';
      }
    } else {
      viewport = 'width=1280';
    }

    document.querySelector('meta[name=viewport]')?.setAttribute('content', viewport);
  }

  function setScrollbarWidthCSSProp() {
    const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;
    document.documentElement.style.setProperty('--scrollbar-width', (scrollbarWidth > 0 ? scrollbarWidth : 0) + 'px');
  }

  setViewport();
  setScrollbarWidthCSSProp();
  window.addEventListener('resize', debounce(100, setViewport));
  window.addEventListener('resize', debounce(100, setScrollbarWidthCSSProp));

  document.documentElement.style.scrollBehavior = 'smooth';
</script>
